## excercise on list Data type and it's methods

In [1]:
mylist = ["rajesh","1234",'a']

In [2]:
mylist.append(5)

In [3]:
print(mylist)

['rajesh', '1234', 'a', 5]

In [4]:
mylist.index("rajesh")

0

In [9]:
mylist.pop(1)

'1234'

In [10]:
print(mylist)

['rajesh', 'a', 5]

In [11]:
mylist.remove("rajesh")

In [12]:
print(mylist)

['a', 5]

In [14]:
mylist.extend("3")

In [15]:
print(mylist)

['a', 5, '3']

In [16]:
mylist.count(3)

0

In [17]:
mylist.insert(2,"hi")

In [18]:
print(mylist)

['a', 5, 'hi', '3']

In [19]:
mylist2 = ["keerthi","anusha","73966"]

In [20]:
mylist.extend(mylist2)

In [36]:
print(mylist)

lst.sort()

print(mylist)

['a', 5, 'hi', '3', 'keerthi', 'anusha', '73966']
['a', 5, 'hi', '3', 'keerthi', 'anusha', '73966']

In [22]:
lst= [1,2,3,4,5]

In [24]:
print(sum(lst))

15

In [25]:
print(len(lst))

5

In [27]:
print(min(lst))

1

In [35]:
print(max(lst))

5

## practice on strings and it's methods

In [29]:
string1= "I Love You"

print(len(string1))

10

In [30]:
print(string1[4:7])

ve

In [31]:
print(string1*2)

I Love YouI Love You

In [34]:
print(str.lower(string1))

print(str.upper(string1))

print(str.title(string1))

i love you
I LOVE YOU
I Love You

# #Practice on Sets and it's functions

In [37]:
set1 = {1,2,3,4,5,6,7,8,1,2,3,43,2,1 }

In [39]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 43}

In [40]:
set1.add(66)

In [41]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 66, 43}

In [49]:
set2 = { 2,3,4,5,4,3}

In [50]:
print(set2)

{2, 3, 4, 5}

In [51]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 43, 66}

In [52]:
set1&set2

{2, 3, 4, 5}

In [54]:
set1.difference(set2)

{1, 6, 7, 8, 43, 66}

In [57]:
set2.difference(set1)

set()

# practice on tuples and it's fuctions

In [58]:
tup1 = (1,2,3,4)

tup2 = (5,6,7,8)

tup1 + tup2

(1, 2, 3, 4, 5, 6, 7, 8)

In [59]:
tup1 + (9,)

(1, 2, 3, 4, 9)

In [60]:
print(tup1)

(1, 2, 3, 4)

In [62]:
tup1.index(2)

1

# # Dictionary function and it's method

In [ ]:
dict1 = { "name":"Rajesh", "age":"18", "UG":"Btech", "collage":"AiET"  }

In [ ]:
dict1.keys()

In [ ]:
dict1.values()

In [ ]:
dict1.gets("age")